<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Code11-ENTJAV1-ServletConfig-Using-API-2.5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ComputeGradeServlet</servlet-name>
  	<servlet-class>controller.ComputeGradeServlet</servlet-class>
  	<init-param>
  		<description>Half of the grade for the Final grade</description>
  		<param-name>midtermHalfGrade</param-name>
  		<param-value>0.5</param-value>
  	</init-param>
  	
  	<init-param>
  		<param-name>preFinalHalfGrade</param-name>
  		<param-value>0.5</param-value>
  	</init-param>
  	
  	<init-param>
  		<description>passing grade</description>
  		<param-name>passingMark</param-name>
  		<param-value>50</param-value>
  	</init-param>
  	
  	<init-param>
  		<description>message if grade is passed</description>
  		<param-name>messagePassed</param-name>
  		<param-value>Time to study ENTJAV2.</param-value>
  	</init-param>
  	
  	<init-param>
  		<description>message if grade is failed</description>
  		<param-name>messageFailed</param-name>
  		<param-value>You have to study the basic concepts.</param-value>
  	</init-param>
  </servlet>
  
   <servlet>
  	<servlet-name>DisplayViewServlet</servlet-name>
  	<servlet-class>view.DisplayViewServlet</servlet-class>
  	<init-param>
  		<description>passing grade</description>
  		<param-name>passingMark</param-name>
  		<param-value>50</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ComputeGradeServlet</servlet-name>
  	<url-pattern>/computeGrade.action</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>DisplayViewServlet</servlet-name>
  	<url-pattern>/display.html</url-pattern>
  </servlet-mapping>
</web-app>